<app-header 
  (searchInput)="onSearch($event)">
</app-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <div *ngIf="isLoading">
    <ion-skeleton-text animated style="width: 100%; height: 200px; border-radius: 16px; margin-bottom: 16px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%; height: 200px; border-radius: 16px;"></ion-skeleton-text>
  </div>

  <div *ngIf="!isLoading && !searchQuery">
    <h2 class="title-header">🔥 Hottest Deals Right Now</h2>
    <div class="horizontal-scroll">
      <app-card 
        *ngFor="let deal of topDeals" 
        [deal]="deal" 
        [isFavorite]="deal.gameID === savedFavoriteId"
        (favoriteClicked)="saveFavorite($event)">
      </app-card>
    </div>
  </div>

  <div *ngIf="!isLoading && searchQuery && searchResults.length > 0">
    <h2 class="title-header">Results for "{{ searchQuery }}"</h2>
    <div class="search-results-grid">
      <app-card 
        *ngFor="let deal of searchResults"
        [deal]="deal"
        [isFavorite]="deal.gameID === savedFavoriteId"
        (favoriteClicked)="saveFavorite($event)">
      </app-card>
    </div>
  </div>

  <div class="empty-state" *ngIf="!isLoading && searchQuery && searchResults.length === 0">
    <ion-icon name="game-controller-outline"></ion-icon>
    <h3>No games found</h3>
    <p>We couldn't find any deals for "{{ searchQuery }}". Try another title.</p>
  </div>
</ion-content>
