
ion-content {
  --background: linear-gradient(135deg, #000000 0%, #919fa3 50%, #143f52 100%);
}

.horizontal-scroll {
  display: flex;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap; 
  gap: 16px;
  padding: 10px 16px 20px 16px;
  -webkit-overflow-scrolling: touch; 
  
  &::-webkit-scrollbar { display: none; }

  app-card {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}

.title-header {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 580;
  margin: 12px 0 16px 0;
  letter-spacing: -0.5px;
  gap: 12px;
}

.empty-state {
  text-align: center;
  margin-top: 50px;
  color: var(--ion-color-medium);
  ion-icon { font-size: 64px; }
}

.search-results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 10px 16px 20px 16px;

  app-card {
    flex: 0 0 calc(100% - 32px);
    width: calc(100% - 32px);

  }
}